
@media (max-width:1850px) {
    .container {
        max-width: 1650px;
    }
}


@media (max-width:1680px) {
    .container {
        max-width: 1560px;
    }
}

@media (max-width:1580px) {
    .container {
        max-width: 1416px;
    }
    .product-item-detail-slider-container {
        width: 500px;
        height: 500px;
        overflow: hidden;
        border-radius: 12px;
        position: relative;
    }
    .container-detail-page .product-item-detail-pay-block{
        margin-top: 24px;
    }
    .container-detail-page .title-block-desc {
        font-size: 36px;
        margin-bottom: 18px;
    }
}

@media (max-width:1440px) {
    .container {
        max-width: 1200px;
    }
    .search-block #title-search-input{
        width: 530px;
    }
    .top-page{
        display: block;
    }
    .bread-link{
        margin-top: 12px;
    }
}


@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:768px) {
    .container-detail-page .row {
        display: block;
    }
    .container-detail-page{
        margin: 0 -24px;
        margin-top: -48px;
    }
    .product-item-detail-slider-container{
        width: 100%;
        border-radius:0;
    }
    div.title-search-result{
        border:none;
        height: 300px;
        overflow: scroll;
    }
    #slider-index .slick-slide{
        height: 177px;
    }
    .hidden-mobile{
        display: none !important;
    }
    .hidden-pk{
        display: block !important;
    }
    .header{
        border-radius:0;
        padding: 0;
    }
    .mobile-head .burger{
        background: url('../images/burger-icon.svg') no-repeat;
        width: 25px;
        height: 19px;
    }
    .mobile-head .logo-mobile{
        background: url('../images/logo-mobile.svg') no-repeat;
        width: 140px;
        display: block;
        height: 38px;
    }
    .mobile-head .mobile-menu{
        width: 25px;
        height: 23px;
        background: url('../images/menu-icon.svg') no-repeat;
    }
    .mobile-head.hidden-pk{
        display: flex !important;
        justify-content: space-between;
        padding: 12px;
        align-items:center;
    }
    section#slider-index{
        margin: 0 12px;
    }
    section{
        background: transparent;
    }
    .product-item-container{
        background: #2B2D2F;
    }
    footer{
        background: url('../images/footer-bg.png') transparent;
        background-position:  center 23px;
        background-repeat:no-repeat;
        border-radius:0;
        position:fixed;
        bottom:0px;
        width: 100%;

    }
    body{
        margin-bottom: 0;
    }
    footer a.cart-page{
        display: inline-block;
        position: fixed !important;
        left: 0;
        right: 0;
        bottom: 8px;
        margin: 0 auto !important;
        width: 87px;
    }
    footer .cart-page span{
        width: 12px;
        height: 12px;
        font-size:11px;
        top: 25px;
        right: 20px;
    }
    .mobile-footer{
        display: flex;
        justify-content: space-between;
    }
    footer .home-icon{
        background: url('../images/home-icon.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
        margin-right: 48px;
    }
    footer .search-footer-link{
        background: url('../images/search-icon-footer.svg') no-repeat;
        width: 26px;
        min-width: 26px;
        height: 26px;
    }
    footer .personal-link-footer{
        background: url('../images/user-icon.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
        margin-right: 48px;
    }
    footer .wish-link-footer{
        background: url('../images/heart-icon-footer.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
    }
    footer .mobile-footer__left,footer .mobile-footer__right{
        display: flex;
    }
    footer{
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 20px;
    }
    footer:before{
        content: '';
        height: 71px;
        background: #2B2D2F;
        display: block;
        width: 26%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1
    }
    footer:after{
        content: '';
        height: 71px;
        background: #2B2D2F;
        display: block;
        width: 26%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1
    }
    .mobile-footer a{
        position:relative;
    }
    .mobile-footer a.active:after{
        content: '';
        width: 4px;
        height: 4px;
        background: #FF1616;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        bottom: -12px;
    }
    .search-mobile{
        padding: 0 24px;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .search-mobile input{
        border-radius:6px;
        width: 100%;
        border:none;
        outline:none;
        font-size:18px;
        font-family: 'Blogger Sans', 'Roboto';
        font-size: 18px;
        padding: 20px 0;
        padding-left: 47px;
    }
    .search-mobile form{
        position:relative;
    }
    .search-mobile form:before{
        content:'';
        background: url('../images/search-icon-mobile.svg') no-repeat;
        width: 18px;
        height: 17px;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .detail-page-product-header{
        display: none;
    }
    a.return-btn-detail{
        background: url('../images/return-detail.png') no-repeat;
        width: 42px;
        height: 42px;
        display: block;
        position:absolute;
        top:24px;
        left: 24px;
    }
    .container-detail-page h1{
        font-weight:normal;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .container-detail-page .right-detail-block{
        margin-left: 24px;
        margin-right: 24px;
    }
    .container-detail-page .title-block-desc{
        font-size:24px;
    }
    .container-detail-page .after-title-product{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    .container-detail-page .after-title-product__price{
        font-weight: bold;
        font-family: 'Inter-Bold';
        font-size: 20px;
    }
    .container-detail-page .after-title-product__weight{
        color:#827C7C;
    }
}
@media (max-width:576px) {
    .container-detail-page .right-detail-block{
        margin-left: 12px;
        margin-right: 12px;
    }
    .container-detail-page{
        margin: 0 -12px;
    }
    a.return-btn-detail{
        left: 12px;
    }
    .search-mobile{
        padding: 0 12px;
    }
    .bottom-product-detail{
        padding: 0 12px;
    }
    .bottom-product-detail h2{
        font-size:28px;
        line-height: 1.2;
    }
    .bottom-product-detail ul li{
        align-items: inherit;
    }
    .bottom-product-detail ul > li:before{
        margin-top: 5px;
    }
    .product-item-container .desc-product{
        display: none;
    }
    section{
        padding: 0 12px;
        margin-top: 0;
    }
    .slider-index-product .slick-slide {
        padding: 0 6px;
    }
    #slider-index .slick-slide{
        padding: 0;
    }
    #slider-index .slick-slide {
        height: 277px;
    }
}
@media (max-width:480px) {
    .product-item-detail-slider-container{
        height: 390px;
    }
}

@media (max-width:440px) {
    .product-item-detail-slider-container{
        height: 360px;
    }
}

@media (max-width:420px) {
    .product-item-detail-slider-container{
        height: 330px;
    }
}
@media (max-width:400px) {
    .product-item-detail-slider-container{
        height: 325px;
    }
}
@media (max-width:380px) {
    .product-item-detail-slider-container{
        height: 300px;
    }
}
@media (max-width:360px) {
    .product-item-detail-slider-container{
        height: 290px;
    }
}

@media (max-width:340px) {
    .product-item-detail-slider-container{
        height: 270px;
    }
}