
@media (max-width:1850px) {
    .container {
        max-width: 1650px;
    }
}


@media (max-width:1680px) {
    .container {
        max-width: 1560px;
    }
}

@media (max-width:1580px) {
    .container {
        max-width: 1416px;
    }
}

@media (max-width:1440px) {
    .container {
        max-width: 1200px;
    }
    .search-block #title-search-input{
        width: 530px;
    }
}


@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:768px) {
    #slider-index .slick-slide{
        height: 177px;
    }
    .hidden-mobile{
        display: none !important;
    }
    .hidden-pk{
        display: block !important;
    }
    .header{
        border-radius:0;
        padding: 0;
    }
    .mobile-head .burger{
        background: url('../images/burger-icon.svg') no-repeat;
        width: 25px;
        height: 19px;
    }
    .mobile-head .logo-mobile{
        background: url('../images/logo-mobile.svg') no-repeat;
        width: 140px;
        display: block;
        height: 38px;
    }
    .mobile-head .mobile-menu{
        width: 25px;
        height: 23px;
        background: url('../images/menu-icon.svg') no-repeat;
    }
    .mobile-head.hidden-pk{
        display: flex !important;
        justify-content: space-between;
        padding: 12px;
        align-items:center;
    }
    section#slider-index{
        margin: 0 12px;
    }
    section{
        background: transparent;
    }
    .product-item-container{
        background: #2B2D2F;
    }
    footer{
        background: url('../images/footer-bg.png') transparent;
        background-position:  center bottom;
        background-repeat:no-repeat;
        border-radius:0;
        position:fixed;
        bottom:0px;
        width: 100%;

    }
    body{
        margin-bottom: 0;
    }
    footer a.cart-page{
        display: inline-block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 21px;
        margin: 0 auto;
        width: 87px;
    }
    footer .cart-page span{
        width: 12px;
        height: 12px;
        font-size:11px;
        top: 25px;
        right: 20px;
    }
    .mobile-footer{
        display: flex;
        justify-content: space-between;
    }
    footer .home-icon{
        background: url('../images/home-icon.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
        margin-right: 48px;
    }
    footer .search-footer-link{
        background: url('../images/search-icon-footer.svg') no-repeat;
        width: 26px;
        min-width: 26px;
        height: 26px;
    }
    footer .personal-link-footer{
        background: url('../images/user-icon.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
        margin-right: 48px;
    }
    footer .wish-link-footer{
        background: url('../images/heart-icon-footer.svg') no-repeat;
        width: 24px;
        min-width: 24px;
        height: 26px;
        display: block;
    }
    footer .mobile-footer__left,footer .mobile-footer__right{
        display: flex;
    }
    footer{
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 34px;
    }
    footer:before{
        content: '';
        height: 84px;
        background: #2B2D2F;
        display: block;
        width: 26%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1
    }
    footer:after{
        content: '';
        height: 84px;
        background: #2B2D2F;
        display: block;
        width: 26%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1
    }
    .mobile-footer a{
        position:relative;
    }
    .mobile-footer a.active:after{
        content: '';
        width: 4px;
        height: 4px;
        background: #FF1616;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        bottom: -12px;
    }
}
@media (max-width:576px) {
    .product-item-container .desc-product{
        display: none;
    }
    section{
        padding: 0 12px;
    }
    .slider-index-product .slick-slide {
        padding: 0 6px;
    }
}