
@media (max-width:1850px) {
    .container {
        max-width: 1650px;
    }
}


@media (max-width:1680px) {
    .container {
        max-width: 1560px;
    }
}

@media (max-width:1580px) {
    .container {
        max-width: 1416px;
    }
}

@media (max-width:1440px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width:1340px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width:1200px) {

}