/*
.filter-block input[type=checkbox] {
    display: none;
}

.filter-block .checkbox label:before {
    border-radius: 3px;
}

.filter-block input[type=checkbox]:checked + label:before {
    content: "";
    background-image: url(img/checked.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-block label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border: solid 2px #004E9C;
    border-radius: 3px;
}

.filter-block label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    color: #003670;
}



.filter-block{
    position: absolute;
    z-index: 200;
    top: 60px;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.filter-block__button{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .filter-block{
        width: 90%;
    }
}


.filter-block-search-input{
    width: 80%;
    max-width: 579px;
    height: 58px;
    font-size: 16px;
    padding: 20px;
    font-weight: 600;
}

.filter-block__button-search{
    background-color: #004E9C;
    width: 58px;
    height: 58px;
    background-image: url(./img/loupe.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.filter-block__button-pre-filtr{
    background-color: #fff;
    width: 58px;
    height: 58px;
    background-image: url(./img/pre-filtr.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}

.filter-block__button-pre-filtr.open{
    background-image: url(./img/pre-filter-close.svg);
}

.filter-block__button-pre-filtr-block{
    display: none;
    position: absolute;
    width: 400px;
    top: 108px;
    background-color: #F2F2F2;
    padding: 21px;
}

.filter-block__button-pre-filtr-block.open{
    display: block;
}

.filter-block__button-pre-filtr-block__element{
    font-size: 16px;
    margin: 10px 10px 10px 0;
    font-weight: 600;
}

.filter-block__button-pre-filtr-region{
    width: 100%;
}

.filter-block__button-pre-filtr-region select{
    max-width: 597px;
    width: 100%;
    height: 58px;
}

.filter-block__button-pre-filtr-region select option{
    max-width: 597px;
    width: 100%;
    height: 58px;
    font-size: 15px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #004E9C;
    list-style-type: none;
}

.filter-block__button-pre-filtr-region .select2-container--default .select2-selection--single{
    height: 49px;
    border: 1px solid #004E9C;
    border-radius: 0;
}

.filter-block__button-pre-filtr-region .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-width: 18px 12px 0 12px;
    margin-left: -24px;
    margin-top: 3px;
    border-color: #004E9C transparent transparent transparent;
}

.filter-block__button-pre-filtr-region .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-width: 0 12px 18px 12px;
    margin-left: -24px;
    margin-top: 3px;
    border-color: transparent transparent #004E9C transparent;
}

.select2-container--default .select2-results>.select2-results__options{
    column-count: 2;
}

.select2-results__option--selectable::before{
    display: none;
}


.select2-container .select2-dropdown{
    border: 1px solid #004E9C;
}

.filter-block__button-pre-filtr-region .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 24px;
    line-height: 28px;
    color: #959595;
    padding: 10px;
}

.placemark {
    max-width: 100%;
    min-height: 250px;
    display: block;
    line-height: 1.67;
    position: relative;
    width: 390px;
}
.placemark.button {
    border-radius: 0;
}
.placemark__wrapper {
    width: 100%;
    background-color: #fff;
    padding: 11px 15px 11px 15px;
    max-width: 390px;
}
.placemark__header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -ms-flex-pack: eende;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.placemark__title {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    line-height: 1.28;
    font-weight: 300;
}
.placemark__row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 8px 0 0 0;
}
.placemark__content {
    min-height: 150px;
}
.placemark__item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: sspace-betweens;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin: 0 0 20px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;
    color: #4d5360;
}
.placemark__text {
    display: block;
    width: 100%;
    line-height: 1.67;
}
.placemark__balloon-close {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    background-image: url(./img/popup-close.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tabs-contact-point{
    position: relative;
}

.tabs-contact-point__buttons{
    position: absolute;
    z-index: 200;
    top: 0px;
    right: 10%;
    display: flex;

}

.tabs-contact-point__button-map{
    margin-right: 34px;
    width: 83px;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #004E9C;
    align-items: baseline;
}

.tabs-contact-point__button-map.active{
    padding-top: 10px;
    border-top: solid 6px #004E9C;
}

.tabs-contact-point__button-list{
    width: 83px;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #004E9C;
    align-items: baseline;
}

.tabs-contact-point__button-list.active{
    padding-top: 10px;
    border-top: solid 6px #004E9C;
}

.tabs-contact-point__map{
    display: none;
}
.tabs-contact-point__map.active{
    display: block;
}
.tabs-contact-point__list{
    display: none;
    background-color: #E7E7E7;
    padding: 166px 143px;
}
.tabs-contact-point__list.active{
    display: block;
}

.tabs-contact-point__list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs-contact-point__list ul li{
    width: 315px;
    min-height: 105px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: initial;
    margin: 35px 20px;
}

.tabs-contact-point__list-address{
    font-weight: normal;
}

.tabs-contact-point__list-phones{
    margin-top: 15px;
}

.tabs-contact-point__list-phone{
    font-weight: normal;
}

.tabs-contact-point__list-phone a{
    font-size: 18px;
    color: #000000;
    text-decoration: underline;
    line-height: 24px;
    text-transform: initial;
    font-weight: normal;
}

.tabs-contact-point__list-phone a:hover{
    text-decoration: none;
}

.filter-contacts-list{
    display: flex;
    flex-wrap: wrap;
}

.filter-contacts-list-item{
    width: 100%;
    display: flex;
    margin-bottom: 45px;
}

.filter-contacts-list-item-title{
    width: 25%;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.filter-contacts-list-item-img{
    width: 25%;
}

.filter-contacts-list-item-img-wrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 258px;
    height: 117px;
}

.filter-contacts-list-item-info{
    width: 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.filter-contacts-list-item-info-address{
    margin-bottom: 10px;
}

.filter-contacts-list-item-info-phone{

}

.filter-contacts-list-item-icon{
    width: 25%;
}*/


.placemark {
    min-height: 250px;
    display: block;
    line-height: 1.67;
    position: relative;
    width: 535px;
}
.placemark.button {
    border-radius: 0;
}
.placemark > ymaps {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.placemark__wrapper {
    width: 100%;
    background-color: #fff;
    padding: 11px 15px 11px 15px;
    max-width: 535px;
    height:100%;
    /*padding: 0px 10px 30px 0px;*/
}

.placemark__header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -ms-flex-pack: eende;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    /*margin: 0 -30px;*/
    /*width: calc(100% - 20px);*/
}
.placemark__title {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    /*line-height: 1.28;
    margin-bottom: 30px;
    font-size: 25px;*/
    font-weight: 300;
}
.placemark__row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 8px 0 0 0;
}
.placemark__content {
    display: inline-block;
    margin-top: 14px;
}
.placemark__item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: sspace-betweens;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin: 0px 0 0px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;
    color: #4d5360;
}
.placemark__text {
    display: block;
    width: 100%;
    line-height: 1.67;
}
.placemark__balloon-close {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-radius: 0;
    outline: none;
    /*background-color: transparent;
    background-image: url(./img/popup-close.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;*/
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.placemark__row svg {
    max-width: 18px;
    max-height: 18px;
}

.placemark ymaps {
    width: auto !important;
    height: auto !important;
}

.placemark__wrapper .placemark__balloon-close {
    position: absolute;
    right: 4px;
    top: 2px;
}


.img_wrap {
    float: left;
    width: 205px;

    text-align: center;
}

.cnt_wrap {
    float: left;
    width: 297px;
}

.img_wrap.fullimage {


}

.placemark__title_new {
    color: #1e4293;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.cnt_wrap .types {
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
}

.adress_row {

}

.phone_row {

    margin-top: 12px;
}

.placemark__item {
    color: black;
}

.placemark__text {
    font-size: 14px;
}

.placemark__row {
    text-align: center;
    display: block;
}

.placemark__row a.link_site_page {
    color: #1e4293;
    text-decoration: underline;
    font-weight: 600;
}
.placemark__row a.link_site_page:hover {
    text-decoration: none;
}

.placemark__content {
    width:100%;
}

.phone_row {

}

@media(max-width: 600px) {
    .img_wrap {
        display: none;
    }
    .cnt_wrap {
        float: none;
        width: auto;
    }
    .placemark {
        width: 300px;
    }

    .placemark .placemark__wrapper {
        width: 300px;
    }

    .placemark ymaps {
        min-width: 0 !important;
    }

    .placemark__title_new {
        font-size: 20px;
    }

    .phone_row {
        margin-bottom: 6px;
    }
}

@media(min-width: 601px) {
    .adress_row {    margin-top: 19px;}
}

.phone_link:hover {
    color:#C21A17;
}