#notification-form label{
    display: flex;
    font-size: 18px;
    margin-bottom: 12px;
    align-items: center;
}
#notification-form label span{
    min-width: 272px;
}
#notification-form label input{
    position: absolute;
    opacity: 0;
}
#notification-form .bottom-button{
    display: flex;
    margin-top: 24px;
}
#notification-form .bottom-button button,#notification-form .bottom-button div{
    cursor: pointer;
    transition: all .3s;
    position: relative;
}
#notification-form .bottom-button button{
    font-size: 18px;
    background: #1b1818;
    text-align: center;
    color:#ffffff;
    border:none;
    font-family: 'Inter Light';
    width: 138px;
    padding: 16px 0;
    border-radius: 6px;
    margin-right: 67px;
    cursor: default;
    opacity: 0.7;
}
#notification-form .bottom-button button.active{
    background: #F44336;
    cursor: pointer;
    opacity: 1;
}
#notification-form .bottom-button button.active:hover,#notification-form .bottom-button div:hover{
    opacity: 0.7;
}

#notification-form .bottom-button div:before{
    content:'';
    background: url('img/mute.png') no-repeat;
    width: 18px;
    height: 22px;
    display: block;
    font-size: 13px;
    margin-right: 5px;
}
#notification-form .bottom-button div{
    color:#F44336;
    display: flex;
    align-items: center;
}
#notification-form{
    padding-bottom: 15px;
}
.checked-button-notification {
    width: 56px;
    height: 32px;
    border-radius: 32px;
    background: #D9D9D9;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.checked-button-notification::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #ffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 2px;
    left: 2px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}
#notification-form input:checked + div.checked-button-notification{
    background: #F44336;
}

#notification-form input:checked + div::before {
    transform: translateX(24px);
    left: 2px;
}